*{
    box-sizing: border-box;
}

body{
    background-color: plum;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

li{
    font-size:0.8rem;
    font-weight:200;
    line-height:1.8
}

.grid-container {
    width: 20%;
}

input[type=text]:disabled {
    background: powderblue;
  }

.restartBtn {
    margin-top: 1rem;
    text-align: center;
    background-color: aliceblue;
    padding: 0.5rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.win {
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
}

.results-container {
    margin: 1rem;
}